
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400");
}

@font-face {
  font-family: 'sf-pixelate';
  src: url("../fonts/sf-pixelate.regular.ttf");
}

@font-face {
  font-family: 'crumbled-pixels';
  src: url("../fonts/crumbled-pixels.regular.ttf");
}

p, h1, h2, h3, h4, h5, h6, button, body, head, a, span, div, label {
  font-family: 'sf-pixelate';
  letter-spacing: 1px;
  color: #fff;
}

input {
  font-family: 'sf-pixelate';
  letter-spacing: 1px;
  color: #333;
}

body {
  background-color: #333;
}

.creepy-text-container {
  margin-bottom: 50px;
}

.creepy-text {
  color: #fff;
  font-size: 4em;
  letter-spacing: 8px;
  font-family: 'crumbled-pixels';
  font-weight: 400;  
  margin: 0;
  line-height: 0;  
  animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.form-control {
  border-width: 0.5px;
  border-color: lightgray;
  border-radius: 2px;
  padding: 3px;
  margin: 3px;
}

.alert {
  color: red;
  padding: 2px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-content {
  width: 500px;
  background-color: #333;
  border-radius: 6px;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

modal.show .modal-content {
  transform: translateY(0)
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}

.btn-home {
  background-color: #333;
  flex: 1 1 auto;
  margin: 2px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  text-align: center;
  color: white;
  width: 70%;
}

.btn-home:hover {
  animation: glitch3 2.5s infinite;
}

.hidden-word {
  animation: glitch2 2.5s infinite;
}

.letter-btn:hover, .btn:hover, .btn-close:hover {
  filter: brightness(0.85)
}

.container-1 {
  margin: auto;
  display: grid, flex;
  gap: 2px;
  max-width: 445px;
  text-align: center;
}

.container-2 {
  margin: auto;
  display: grid, flex;
  gap: 2px;
  text-align: center;
  width: 80%;
  max-width: 650px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-container {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-center;
}

.letter-btn {
  background-color: #333;
  flex: 1 1 auto;
  margin: 1px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  text-align: center;
  color: white;
  width: 30px;
}

.letter-btn:disabled {
  background-color: darkgrey;
  pointer-events: none;
}

.btn {
  background-color: #77AF9C;
  flex: 1 1 auto;
  margin: 2px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  text-align: center;
  color: white;
  width: 70%;
}

.btn-close {
  background-color: #A8A9AD;
  flex: 1 1 auto;
  margin: 2px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  text-align: center;
  color: white;
  width: 70%;
}